@font-face {
  font-family: "Myriad_regular";
  src: url("../fonts/Myriad-Pro_Regular.ttf"); }
@font-face {
  font-family: "Nexa_light";
  src: url("../fonts/Nexa-Light.otf"); }
@font-face {
  font-family: "Nexa_bold";
  src: url("../fonts/Nexa-Bold.otf"); }
/* --------------------------------
 *
 *Primary style
 *
 *-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Myriad_regular";
  color: #7f8c97;
  background-color: #e9f0f5; }

input {
  font-size: 100%;
  font-family: "Myriad_regular"; }

a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Myriad_regular"; }

img {
  max-width: 100%; }

h1 {
  font-family: "Nexa_light";
  font-weight: regular;
  font-size: 40px;
  font-size: 2.5rem;
  margin: 1em 0; }

h2 {
  font-family: "Myriad_regular";
  font-size: 16px;
  font-size: 1rem;
  color: #506A80;
  font-weight: bolder;
  line-height: 23px; }

p {
  font-family: "Myriad_regular";
  font-size: 16px;
  font-size: 1rem;
  line-height: 23px;
  color: #506A80; }

ol, ul {
  line-height: 23px;
  list-style: inherit;
  margin: 1em 0; }
  ol li, ul li {
    margin-left: 30px; }

input {
  font-size: 100%;
  height: 50px;
  font-family: "Myriad_regular";
  min-width: 250px;
  padding: 17px; }

input[type=submit] {
  background-color: #E85C41;
  border: none;
  height: 50px;
  margin-left: 1px;
  margin-top: 8px;
  color: white;
  padding-top: 16px;
  font-weight: bolder;
  margin-bottom: 50px; }

input[type=submit]:hover {
  background-color: #CE533B !important; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

#cover {
  text-align: center;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  min-height: 80vh; }
  @media only screen and (min-width: 768px) {
    #cover {
      text-align: left; } }
  #cover h1 {
    color: white; }
    @media only screen and (min-width: 768px) {
      #cover h1 {
        padding-bottom: 40px; } }
  #cover h2 {
    color: white; }
  #cover input[type=submit] {
    background-color: #E85C41;
    border: none;
    height: 50px;
    margin-left: 1px;
    margin-top: 8px;
    color: white;
    padding-top: 16px; }
  @media only screen and (min-width: 768px) {
    #cover {
      padding-top: 250px; } }

.mockups {
  background-image: url("../img/devices.png");
  height: 200px;
  min-width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 100px;
  display: block;
  background-position: center; }
  @media only screen and (min-width: 768px) {
    .mockups {
      float: right; } }
  @media only screen and (min-width: 1170px) {
    .mockups {
      height: 300px;
      margin-top: 30px; } }

.why {
  text-align: center;
  padding-bottom: 70px; }
  @media only screen and (min-width: 768px) {
    .why {
      text-align: left; } }
  .why .col-md-3 {
    padding-top: 40px; }
    @media only screen and (min-width: 768px) {
      .why .col-md-3 {
        padding-top: 70px;
        padding-right: 50px; } }
  .why .simple:before {
    content: "";
    background-image: url("../img/heart.png");
    height: 30px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    background-size: contain;
    display: block;
    position: relative;
    left: 46%; }
    @media only screen and (min-width: 768px) {
      .why .simple:before {
        left: 0; } }
  .why .twentyfour:before {
    content: "";
    background-image: url("../img/watch.png");
    height: 30px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    background-size: contain;
    display: block;
    position: relative;
    left: 46%; }
    @media only screen and (min-width: 768px) {
      .why .twentyfour:before {
        left: 0; } }
  .why .share:before {
    content: "";
    background-image: url("../img/share_b.png");
    height: 30px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    background-size: contain;
    display: block;
    position: relative;
    left: 46%; }
    @media only screen and (min-width: 768px) {
      .why .share:before {
        left: 0; } }
  .why .support:before {
    content: "";
    background-image: url("../img/compass.png");
    height: 30px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    background-size: contain;
    display: block;
    position: relative;
    left: 46%; }
    @media only screen and (min-width: 768px) {
      .why .support:before {
        left: 0; } }

.old_new {
  padding-bottom: 150px;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .old_new {
      text-align: left; } }
  .old_new .oldway .imgholder {
    background-image: url("../img/oldway.png");
    background-size: contain;
    height: 210px;
    background-repeat: no-repeat;
    background-position: center;
    display: block; }
  .old_new .newway {
    padding-bottom: 70px; }
    .old_new .newway h1 {
      font-family: Nexa_bold;
      font-weight: bolder; }
    .old_new .newway .imgholder {
      background-image: url("../img/newway.png");
      background-size: contain;
      height: 100px;
      background-repeat: no-repeat;
      display: block;
      background-position: center;
      text-align: center; }
      .old_new .newway .imgholder #person1 {
        margin: 0 auto;
        margin-top: 77px;
        margin-bottom: 20px;
        height: 84px;
        width: 84px;
        background-color: #4CA2B0;
        border-radius: 400px; }
    .old_new .newway .carousel-cell {
      width: 100%; }
    .old_new .newway .flickity-prev-next-button {
      display: none; }
    .old_new .newway .flickity-prev-back-button {
      display: none; }
    .old_new .newway .flickity-page-dots {
      display: none; }

.how .imgholder {
  background-image: url("../img/how.png");
  background-size: cover;
  text-align: center;
  padding-top: 60px;
  height: 240px;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 1170px) {
    .how .imgholder {
      height: 450px;
      padding-top: 170px; } }
  .how .imgholder h1 {
    color: white; }
.how .process {
  text-align: center;
  padding-bottom: 70px; }
  .how .process img {
    padding-top: 10px;
    margin-bottom: 20px; }
  .how .process h1 {
    margin-bottom: 30px; }
  @media only screen and (min-width: 1170px) {
    .how .process {
      padding-top: 90px; } }
.how .flickity-prev-next-button {
  margin-top: 20px;
  margin-right: 10px; }
  @media only screen and (min-width: 768px) {
    .how .flickity-prev-next-button {
      margin-right: 5vw; } }
.how .flickity-prev-next-button {
  margin-top: 20px;
  margin-left: 10px; }
  @media only screen and (min-width: 768px) {
    .how .flickity-prev-next-button {
      margin-left: 5vw; } }
.how .carousel-cell {
  width: 100%; }
  .how .carousel-cell p {
    max-width: 300px;
    margin: 0 auto; }
    @media only screen and (min-width: 768px) {
      .how .carousel-cell p {
        max-width: 500px; } }
